{
    "text": "Service {{.Service}} deployed successfully.",
    "blocks": [
    	{
    		"type": "section",
    		"text": {
    			"type": "mrkdwn",
    			"text": "No aciton required, congratulations: 🫱🏻‍🫲🏾"
    		}
    	},
    ]
}