{
    "text": "Service {{.Service}} deployed successfully.",
     "blocks": [
        {
                "type": "section",
                "text": {
                      "type": "mrkdwn",
                       "text": "[{{.Env}}]: Service {{.Service}} deployed successfully. 🎉🎉🎉"
                }
        },
     ]
}