{
    "text": "Service {{.Service}} state changed.",
    "blocks": [
    	{
    		"type": "section",
    		"text": {
    			"type": "mrkdwn",
    			"text": "[{{.Env}}]: The service {{.Service}} got in new state: {{.StateName}} 🚀"
    		}
    	},
    ]
}