{
	"text": "🚨 Error deploying service: {{.Service}} 🚨",
		"blocks": [
			{
							"type": "section",
							"text": {
											"type": "mrkdwn",
											"text": "[{{.Env}}]: 🚨 Error deploying service: {{.Service}} 🚨. Error {{ .Reason }}"
							}
			},
		]
}

